@media only screen and (min-width: 601px) {

* {
	margin:0;
	padding:0;
}

html {
	box-sizing:border-box;
	font-family:sans-serif;
}

*, *:before, *:after {
	box-sizing:inherit;
}

#container {
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	text-align:left;
}

#dayOfYear, #quoteOfYear {
	padding:1em;
}

h2 {
	/*font-family:'Lobster', cursive;*/
	font-size:1.5em;
	font-weight:normal;
	/*color:rgb(255,255,102);*/
}

h3 {
	/*font-family:'Raleway', sans-serif;*/
	font-size:2em;
	font-weight:normal;
	/*color:rgb(153,255,153);*/
}

}

@media only screen and (max-width: 600px) {

* {
	margin:0;
	padding:0;
}

html {
	box-sizing:border-box;
	font-family:sans-serif;
}

*, *:before, *:after {
	box-sizing:inherit;
}

#container {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
}

#dayOfYear, #quoteOfYear {
	padding:1em;
}

h2 {
	/*font-family:'Lobster', cursive;*/
	font-size:1.5em;
	font-weight:normal;
	/*color:rgb(255,255,102);*/
}

h3 {
	/*font-family:'Raleway', sans-serif;*/
	font-size:2em;
	font-weight:normal;
	/*color:rgb(153,255,153);*/
}

}
